<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="http://localhost:3001/movies">Ir al listado de peliculas</a> <br>
    <a href="http://localhost:3001/genres">Ir al listado de generos</a>
  </body>
</html>
